.NavBar {
    background-color: white;
}

.NavLink {
    color: dimgrey;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
}

.NavLink:hover {
    background-color: lightcyan;
    border-radius: 10px;
}

.NavLink i {
    padding-right: 8px;
}