.Card {
    margin: 5px;
    padding: 10px;
}

.reportedPost {
    display: flex;
}

.repPostTextFields {
    flex: 3;
}

.repPostImage {
    max-width: 400px;
    margin-right: 10px;
}

.susCount {
    border: none;
    color: dimgray;
    text-align: center;
}

@media (max-width: 600px) {
    #reported-post {
        flex-direction: column;
    }
}