.Card {
    margin: 5px;
    padding: 10px;
}

.flexBox {
    display: flex;
}

.reportedPostTextFields {
    flex: 3;
}

.reportedPostImage {
    max-width: 400px;
    margin-right: 10px;
}

.susCount {
    border: none;
    color: dimgray;
    text-align: center;
}

@media (max-width: 600px) {
    .flexBox {
        flex-direction: column;
    }
}